@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:lightgrey;
    position: relative;
}

header {
    background-color: black;
    height: 150px;
    color: white;
    width: auto;
    position:sticky;
    top: -1px;
}

header h1{
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;   
}

header p {
    text-align: center;
}

header nav {
    padding-top: 20px;
    padding-left: 5%;
}

header nav a {
    text-decoration: none;
    color: white;
}

main {
    background-color: white;
    width: 90vw;
    height: 100vh;
    margin: auto;  
}

.quemsomos {
    padding-top: 30px;
    padding-left: 40px;
    display: flex;
    align-items: flex-start;
    gap: 80%; /* Espaço entre texto e imagem */
    width: 25%;
}

.quemsomos div {
    max-width: 300px;
    max-height: 300px;
    flex: 1; /* O texto ocupa o máximo de espaço possível */
}

.quemsomos p {
    width: 550px;
    padding-top: 30px;
    padding-left: 40px;

}

.quemsomos img {
  max-width: 500px;
  height: auto;
  
}



main h1 {
    padding-left: 30px;
}

.servicos {
    padding-top: 100px;
}

section {
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px black;
    background-size: cover;
    background-attachment: fixed;
}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px black;
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > ul {
    font-size: 1.5em;
    padding-left: 50px;
    color: white;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.514);
    padding: 15px 0px 15px 100px;
    text-shadow: 1px 1px 0px rgba(219, 213, 213, 0.644); /* 1px espalhamento lateral - 1px espalhamento verticcal - 1px espalhamento - black cor */
}

section#img01 {
    width: 90vi;
    height: 270px;
    background-image: url(../image/imagem01.png);
    background-position: right center;
}

div .redessociais {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;

}

#contato {
    
}

#rede {
    display: inline-flex;
    width: 30px;
    height: auto;
}
