@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:lightgrey;
    position: relative;
}

header {
    background-color: black;
    height: 150px;
    color: white;
    width: auto;
    position:sticky;
    top: -1px;
}

header h1{
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;   
}

header p {
    text-align: center;
}

header nav {
    padding-top: 20px;
    padding-left: 5%;
}

header nav a {
    text-decoration: none;
    color: white;
}

main {
    background-color: white;
    width: 90vw;
    height: 100vh;
    margin: auto;  
}

.quemsomos {
  display: flex;
  align-items: flex-start;
  gap: 20px; /* Espaço entre texto e imagem */
  width: 1000PX;
}

.quemsomos div {
  flex: 1; /* O texto ocupa o máximo de espaço possível */
}

.quemsomos img {
  max-width: 500px;
  height: auto;
  
}


main h1 {
    padding-left: 30px;
}

section {
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px black;
    background-size: cover;
    background-attachment: fixed;
}

section > ul {
    font-size: 1.5em;
    padding-left: 50px;
    color: black;
    border: solid 1px 1px 1px white;

}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px black;
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > P {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.514);
    padding: 5px;
    text-shadow: 1px 1px 0px black;/* 1px espalhamento lateral - 1px espalhamento verticcal - 1px espalhamento - black cor */
}

section#img01 {
    background-image: url(../image/imagem01.png);
    background-position: right center;

}
