@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:lightgrey;
    position: relative;
}

.cabeçalho_fixo {
    position:sticky;
    top: -1px;
}

header {
    background-color: #113450;
    height: 100px;
    color: white;
    width: auto;
    text-align: center;
}

header h1 {
    padding-top: 25px;
}

nav {
    position: sticky;
    top: -200px;
    padding-left: 4.5vw;
    color: white;
    background-color: black;
}
nav a {
    text-decoration: none;
    color: white;
}


main {
    background-color: white;
    width: 90vw;
    height: 90vh;
    margin: auto;  
}

div.main_quadrado {
    padding-top: 10px;
}

div.quadrado {
    padding-top: 10px;
    width: 90vw;
    height: 150px;
}

main h1 {
    padding-left: 20px;
}

.servicos {
    padding-top: 10px;
}

section {
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px black;
    background-size: cover;
    background-attachment: fixed;
}

section.imagem {
    padding-top: 30px;
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px black;
    background-size: cover;
    background-attachment: fixed;
}
section.imagem > ul > h2 {
    font-size: 1.3em;
}

section.imagem > ul {
    font-size: 1.3em;
    color: white;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.514);
    padding: 15px 0px 15px 50px;
    text-shadow: 1px 1px 0px rgba(219, 213, 213, 0.644); /* 1px espalhamento lateral - 1px espalhamento verticcal - 1px espalhamento - black cor */
}

section#img01 {
    width: 90vi;
    height: 270px;
    background-image: url(../image/imagem01.png);
    background-position: left center;
}


#rede {
    display: inline-flex;
    width: 25px;
    height: auto;
}

footer {
    position: sticky;
    bottom: -1px;
    height: 30px;
    width: 100vi;
    background-color: black;
    color: white;
    text-align: center;
}