@charset "UTF-8";

    *{
    margin: 0px;
    padding: 0px;
    }

    header {
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 20px;
        height: 100px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.288);
        position: sticky;
        top: -1px;
    }

    header > h1 {
        color: white;
        padding: 30px;
        text-align: center;
        text-shadow: 1px 1px 1px  rgb(230, 219, 71);
    }


    #logo_header {
        width: 100px;
        height: auto; /* ajuste conforme necessário */
    }
    
    #logo_header img {
        width: 100px;
        height: auto;
    }


    body {
        background-color: rgb(122, 105, 5);
        position: relative;
    }

    main {
        background-color: white;
        max-width: 80%;
        height: 1200px;
        margin: auto;
    }

    article {
        width: 300px;
        text-align: justify;
        padding: 10px;
    }

    footer {
        background-color: black;
        color: white;
        text-align: center;
        padding: 10px;
    }

    .imagem_responsiva {
        display: block;
        width: auto;
    }

    main > p {
        padding: 10px;
        text-indent: 30px;
    }